{
  "env": {
    "browser": true,
    "es6": true,
    "jest": true
  },
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "extends": [
    "airbnb",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "prettier": true,
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".js",
          ".jsx"
        ]
      }
    ],
    "no-underscore-dangle": [
      0
    ],
    "react/prop-types": [
      0
    ]
  }
}